.section{
    background-color: rgb(0, 204, 255);
    color: white;
    padding: 20px;
    text-align: center;
}

.box3{
    margin-bottom: -35px;
}
 
.content{
    float: left;
}

.sidebar{
    float: right;
}

.box1{
text-align: left; 
margin-left: -20px;
}

.box2{
    text-align: left; 
    margin-left: -20px;
}


.box3{
 text-align: left; 
 margin-left: -20px;
 }


.box4{
  text-align: left; 
  }

 .box5{
 text-align: left; 
  }

 .box6{
 text-align: left; 
  }

  .content{
      float: right;
      margin-top: -350px;
      text-align: center;
      margin-right: 720px;
  }

  .sidebar{
      float: left;
  }

  .cib{
      margin-top: -200px;
      margin-right: 2px;
      margin-left: -25px;
     margin-top:-5px;
  }

  .web{
      margin-right: 25px;
  }

  .cik{
    margin-left: 270px;
    margin-top: 50px;
  }

.p{
    margin-right: 45px;
}