 .section{
    background-color:rgb(9, 13, 255) ;
    color: white; 
    padding: 7rem;
    text-align: center;
}

.content{
float: left;
width: 60%;
height: 300px; 
}

.sidebar{
float: left;
width: 30%;
background-color: rgb(200, 255, 0);
}

.clearfix:after,
.clearfix:before{
content: "";
display: table;
}
           
.clearfix:after{
clear: both;
}


.d{
    margin-left: 1000px;
    margin-top:-500px;
}

.s{
    margin-right: 615px;
    margin-left: 610px;
}

.q{
    margin-left: 1000px;
    margin-bottom: -1000px;
    margin-top: -650px;
}

.b{
   color: rgba(0, 0, 255, 0.651);
   width: 30%;
   background-color: rgb(10, 0, 0);
height: 20%;
width:-1000px;
height: -2000px;
}

.d{
    background-color: chartreuse;
    background-size: cover;
}

.an{
    width: 0%;
    height: 500px;
background-color: black;
}