 .section{
    background-color:rgb(9, 13, 255) ;
    color: white; 
    padding: 3rem;
    text-align: center;
}

.content{
float: left;
width: 66.66%;
height: 300px; 
}

.sidebar{
float: left;
width: 33.33%;
background-color: rgb(200, 255, 0);
}


   .clearfix:after,
   .clearfix:before
   {
content: "";
display:;
}
           
.clearfix::after{
clear: both;
}

.sill{
    margin-top: 80px;
    margin-right: 200px;
    margin-bottom: 100px;
}

.clearfix{
    height: 77px;
    width: 100%;
    background-color: blue;
}

.v{
margin-top: 200px;
margin-right: 339px;
margin-left: 280px;
}

.x{
    margin-top: 200px;
}

header,.c1{
    margin-bottom: 350px;
    margin-left: 10px;
}

.hi{
    padding: 100px;
    background-color: blueviolet;
    text-align: center;
    margin-top: 100px;
}

.row{
    margin: 50px;
}

.box1{
    height: 90px ;
    background-color: rgb(0, 119, 255);
    margin: 10px;
    float: left;
    width: calc(33.33% - 20px);
}

.box2{
    height: 90px ;
    background-color: rgb(0, 119, 255);
    margin: 10px;
    float: left;
    width: calc(33.33% - 20px);
}

.box3{
    height: 90px ;
    background-color: rgb(0, 119, 255);
    margin: 10px;
    float: left;
    width: calc(33.33% - 20px);
}


.box4{
    height: 90px;
    background-color: rgb(60, 255, 0);
    margin: 10px;
    float: left;
    width: calc(33.33% - 20px);
}

.box5{
    height: 90px;
    background-color: rgb(21, 255, 0);
    margin: 10px;
    display: inline-block;
    width: calc(33.33% - 20px);
   float: left;
}

.box6{
    height: 90px;
    background-color: rgb(0, 255, 13);
    margin: 10px;
   display: inline-block;
    width: calc(33.33% - 20px);
float: left;
}

.sill{
    margin-left: 100px;
width: 50px;
height: 60px;
}


.ff{
    margin-top: 100px;
}


  

.about{
    padding: -150px;
}

.x{
    padding: -150px;
margin-left: 800px;
margin-top: -417px;
background-color: teal;
box-sizing: border-box;
}

.ab{

    float: left;
}


.box1{
    width: 250px;
    height: 150px;
  margin-top: -80px;
}

.box2{
    width: 250px;
    height: 150px;
    margin-top: -80px;
}

.box3{
    width: 250px;
    height: 150px;
    margin-top: -80px;
}

.box4{
    width: 250px;
    height: 150px;
    margin-top: -5px;
    margin-left: 60px;
    margin-top: 10px;
}

.box5{
    width: 250px;
    height: 150px;
    margin-top: -5px;
    margin-top: 10px;

}

.box6{
    width: 250px;
    height: 150px;
    margin-top: -5px;
   margin-top: 10px;
}

.x{
    margin-top: 20px;
}

.hi{
    margin-top: 400px;
}

.cc{
margin-top: 350px;
}

.zz{
    margin-top: 350px;
    margin-bottom: 1000px;
}

.aboutt{
    width: 70%;
    background-color: brown;
    width: 800px;
    height: 200px;
}

.contactt{
    width: 30%;
    background-color: black;
    width: 300px;
    height: 200px;
    margin-top: 100px;
}

.zz{
margin-left: -400px;
}

.cc{
    margin-left: 300px;
}

.zz{
    margin-right: 200px;
}




.z{
    background-color: rgb(4, 0, 255);
    color: white;
    text-align: center;
    width: 700px;
    height: 270px;
    margin-left: 700px;
    margin-top: 550px;
}

.ccc{
    background-color: rgb(152, 143, 236);
    color: rgb(226, 120, 120);
    text-align: center;
    width: 740px;
    height: 270px;
    margin-top: -300px;
}

.hi{
   margin-top: 100px;
}