.p{
    color: rgb(115, 255, 0);
    background-color: rgb(7, 68, 34);
    padding: 40px;
    text-align: center;
}

.section{
    background-color: darkgreen;
    color: blue;
     margin-bottom: -10px;
     text-align: center;
}

.boxt1{
    margin-top: -20px;
    margin-bottom: -20px;
}

.boxt2{
    margin-top: -20px;
    margin-bottom: -20px;
}

.boxt3{
    margin-top: -20px;
    margin-bottom: -20px;
}

.boxt4{
    margin-top: -20px;
    margin-bottom: -20px;
}

.boxt5{
    margin-top: -20px;
    margin-bottom: -20px;
}