html{
    font-size: 100%;
    font-family: vazir;
    width: 100%;
}

div{
    color: rgb(0, 243, 20);
    background-color: rgb(6, 3, 22);
    margin-bottom: 35px;
    text-align: center;
    padding: 35px;
    border: rgb(101, 101, 226)  dashed 3px;
  background-image: url(./img/pngtree-electronic-technology-website-texture-background-banner-image_156039.jpg);
    background-repeat: no-repeat;
    background-position: 0 -80px;
    background-size: cover;
    width: 100%;
    margin-left: -100px;
    margin-left: -200px;
}
  
span{
    margin: 120px 120px 120px 120px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}



.d{
    background-image: url(./img/pngtree-electronic-technology-website-texture-background-banner-image_156039.jpg);
    width: 100%;
    height: 330px;
    background-size: cover;
    background-position: -300px 0;
}

.j{
    width:110px;
    height: 70px;
}

.z{
    width: 110px;
    height:70px;
}

.v{
    width: 110px;
    height: 70px;
}

.vi{
    width: 110px;
    height: 70px;
}

.vp{
    width: 110px;
    height: 70px;
}

.vip{
    width: 110px;
    height: 70px;
}

.www{
    background-image: url(./img/image2\ \(3\).jpg);
    /*width: 220px*/
    width:100%;
    height: 200px;
    background-size: cover;
    background-position: -43px 0;
  
}

.wwl{
    background-image: url(./img/download.jpg);
  /*  width: 329px;*/
  width: 100%;
    height: 279px;
    background-size: cover;
    background-position:-49px 0; 
   margin-top: 40px;
   margin-bottom: 30px;
   margin-left:-10px;

}

.bmw{
    background-image:url(./img/grf-bg.jpg);
    background-size: cover;
    background-position:-300px 0;
    /*width: 329px;*/
    width: 100%;
    height: 260px;

}

.mr{
    background-image: url(./img/pngtree-electronic-technology-website-texture-background-banner-image_156039.jpg);
    background-position: -400px 0;
    background-size: cover;
    /*width: 329px;*/
    width: 100%;
    height: 260px;
    margin-top: -369px;
    margin-left: 950px;
    margin-top: 150px;
    margin-left: -488px;
    background-size: cover;
}

.x{
    /*width: 1550px;*/
    width: 1000px;
    height: 400px;
    background: linear-gradient( 236deg,rgb(200, 241, 13) , white,rgb(247, 110, 133));
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    margin-left: 50px;
}

.fl{
    font-weight: bold;
    margin-top: -200px;
    font-size: 100%;
    margin-right: 100px;
    margin-bottom: 20px;
}

.dif{
    width: 380px;
    height: 270px;
    margin-top: -100px;
    /*flot: right ;  flot:left;   برای چپ و راست قرار دادن متن در چپ و راست مثل اول های  وب سایت*/
}

.yop{
    background-image:url(./img/lover.jpg);
    width: 300px;
    height: 300px; 
    background-size: cover;
    background-position:0 0;
    margin-top: -280px;
    border: pink ;
    filter: drop-shadow( 10px 10px 10px   rgb(17, 1, 1));
    margin-left: 10px;
}

header{
    text-align: center;
}

body{
    text-align: center;
}

.cvcv{
   width: 1430px;
}

.l{
    margin-left: 200px;
}

.m{
    height: 200px;
    width: 100%;
}

.wwl{
    width: 100%;
}

html{
    font-size: 100%;
    font-family: vazir;
    width: 100%;
}

.fl{
    margin-right: -39rem;
}

.cvcv{
    width: 1180px;
    padding: 9rem;
}

.x{
    width: 1270px;
}

.si{
    font-family: inherit;
    font-size: 50px;
    margin-right: 90px;
    margin-left: 30px;
   /* margin-top: 100px;*/
}

.xz{
    font-size: 50px;

}

.ddl{
    font-size: 50px;
}

.qmn{
  
    font-size: 50px;
}

.fl{
font-size: 50px;
}

.a{
    /* width:500px
    margin-left: 400px;
    background-position: -2px 0;*/
    width: 1100px;
    height: 415px;
    background-image: url(./img/hhhh.png);
    margin-left: 40px;
}

.oppp{
    /* width:500px
     margin-left: 400px;
    background-position: -2x 0;*/
    width: 1100px;
    height: 415px;
    background-image: url(./img/lop.png); 
    background-size: cover;
    background-position: 10px 0;
    margin-left: 40px;
}
.as{
    /* width:500px
   margin-left: 400px;
    background-position: -2px 0;  */
    width: 1100px;
    height: 415px;
    background-image: url(./img/fast\ food.jpg); 
    background-size: cover;
    background-position: 10px 0;
    margin-left: 40px;
    
}

.bv{
    /* width:500px
    margin-left: 400px;
    background-position: -2px 0; */
    width: 1100px;
    height: 415px;
    background-image: url(./img/gae.jpg); 
    background-size: cover;
    background-position: 10px 0; 
    margin-left: 40px;
}

.cvcv{
    margin-left: 50px;
}
@media (min-width:768px ) {
.a{
    width:500px;
    margin-left: 400px;
    background-position: -2px 0;
}

.oppp{
    width:500px;
    margin-left: 400px;
    background-position: -2px 0;
}

.as{
    width:500px;
    margin-left: 400px;
    background-position: -2px 0;
}

.bv{
    width:500px;
    margin-left: 400px;
    background-position: -2px 0;
}


.cvcv{
    margin-left: 50px;
}

.yop{
    margin-left: 60px;
}

.si{
  margin-right: -100px;
}

.xz{
  margin-right:-100px;
}

.ddl{
  margin-right: -200px;
}

.qq{
   margin-right: -100px;
}

div.a{
    margin-left: 400px;
    margin-top: 100px;
    margin-bottom: 70px;
}

div.oppp{
    margin-left: 400px;
    margin-bottom: 70px;
}

div.as{
    margin-left: 400px;
    margin-bottom: 70px;
}

div.bv{
    margin-left: 400px;
    margin-bottom: 70px;
}

span.ddl{
    margin-left: 15px;
}

.fef{
  margin-left: 1400px;
}

.zz{
    margin-left: 400px;
}

.dd{
  margin-left: 630px;
}

span p.sad{
   margin-left: 950px;
}
}

.yop{
   /* margin-left: 60px;*/
}

.cvcv{
   /* margin-left: 50px;*/
}

.x{
    margin-left: 0px;
    width: 1850px;
}

.cvcv{
    margin-left: -1px;
    width: 1560px;
}
.fl{
    margin-left: 600px;
}

.si{
    /*margin-right: -100px;*/
    margin-left: 900px;
    font-size: 40px;
}

.xz{
    /*margin-right: -100px;*/
    margin-left: 480px;
    font-size: 40px;
}

.ddl{
    /*margin-right: -100px;*/
    margin-left: -200px;
    font-size: 40px;
}

.qq{
    /*margin-right: -100px;*/
    margin-right: 300px;
    font-size: 40px;
    margin-left: -795px;
}

.a{
    width: 950px;
    margin-left: 18px;
}

.oppp{
    width: 950px;
    margin-left: 18px;
}

.as{
    width: 950px;
    margin-left: 18px;
}

.bv{
    width: 950px;
    margin-left: 18px;
}

.a{
    margin-left: 150px;
}

.oppp{
    margin-left: 150px;
}

.as{
    margin-left: 150px;
}

.bv{
    margin-left: 150px;
}

.fl{
    text-align: right;
}

.a{
   /* margin-left: 400px;*/
}

.fef{
    margin-top: -10px;
    margin-right: 200px;
    font-size: 30px;
   /* margin-left: 600px;*/
}

.zz{
    margin-left: 500px;
    margin-top: -80px;
    font-size: 30px;
    /*margin-left: 1400px;*/
}

.dd{
    margin-right: 1550px;
    margin-top: -89px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    /*margin-left: 10px;*/
}

span p.sad{
    margin-left: 300px;
    width: 35px;
    height:20px;
    margin-top: -70px;
    font-size: 30px;
 /*   margin-left: 450px;*/
}