html{
    font-size: 100%;
    font-family: vazir;
}

div{
    color: rgb(0, 243, 20);
    background-color: rgb(6, 3, 22);
    margin-bottom: 35px;
    text-align: center;
    padding: 35px;
    border: rgb(101, 101, 226)  dashed 3px;
  background-image: url(./img/pngtree-electronic-technology-website-texture-background-banner-image_156039.jpg);
    background-repeat: no-repeat;
    background-position: 0 -80px;
    background-size: cover;
}
  
span{
    margin: 120px 120px 120px 120px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}

.l{
    background-color: chartreuse;
    color: black;
    background-image: url(./img/download.png);
    background-position:-52px 0;
    width: 329px;
    height: 267px;
     background-size: cover;
    margin-top: -380px;
}

.d{
    background-image: url(./img/pngtree-electronic-technology-website-texture-background-banner-image_156039.jpg);
    width: 365px;
    height: 330px;
    background-size: cover;
    background-position: -300px 0;
}

.j{
    width:110px;
    height: 70px;
}

.z{
    width: 110px;
    height:70px;
}

.v{
    width: 110px;
    height: 70px;
}

.vi{
    width: 110px;
    height: 70px;
}

.vp{
    width: 110px;
    height: 70px;
}

.vip{
    width: 110px;
    height: 70px;
}

.www{
    background-image: url(./img/image2\ \(3\).jpg);
    width: 220px;
    height: 200px;
    background-size: cover;
    background-position: -43px 0;
}

.wwl{
    background-image: url(./img/download.jpg);
    width: 329px;
    height: 279px;
    background-size: cover;
    background-position:-49px 0; 
   margin-top: 40px;
   margin-bottom: 30px;
}

.bmw{
    background-image:url(./img/grf-bg.jpg);
    background-size: cover;
    background-position:-300px 0;
    width: 329px;
    height: 260px;
}

.mr{
    background-image: url(./img/pngtree-electronic-technology-website-texture-background-banner-image_156039.jpg);
    background-position: -400px 0;
    background-size: cover;
    width: 329px;
    height: 260px;
    margin-top: -369px;
}

.x{
    width: 1550px;
    height: 400px;
    background: linear-gradient( 236deg,rgb(200, 241, 13) , white,rgb(247, 110, 133));
    background-repeat: no-repeat;
    background-size: cover;
}

.fl{
    font-weight: bold;
    margin-top: -200px;
    font-size: 100%;
    margin-right: 100px;
    margin-bottom: 20px;
}

.dif{
    width: 380px;
    height: 270px;
    margin-top: -100px;
    /*flot: right ;  flot:left;   برای چپ و راست قرار دادن متن در چپ و راست مثل اول های  وب سایت*/
}

.yop{
    background-image:url(./img/lover.jpg);
    width: 300px;
    height: 300px; 
    background-size: cover;
    background-position:0 0;
    margin-top: -240px;
    border: pink ;
    filter: drop-shadow( 10px 10px 10px   rgb(17, 1, 1));
}

