p{
    color: chartreuse;
    background-color: chocolate;
}

.header{
    background-color: yellow;
    width: 100%;
    background-image:url( ./image.jpg) ;
    height:600px;
    /*
         mitone intory bashe       )))))  background-size:  1550px 900px;*/
         background-size: cover;
    background-repeat: no-repeat;
    background-position: 1px;
    
}

.piano{
    background: linear-gradient(black,white);
}

p{
    width: 1000px;
    height: 200px;
    
}