html{
    font-size: 100%;
    font-family: vazir;
}

div{
    color: rgb(0, 243, 20);
    background-color: rgb(6, 3, 22);
    margin-bottom: 13px;
    text-align: center;
    padding: 15px;
    border: rgb(101, 101, 226)  dashed 3px;
    background-image: url(./img/grf-bg.jpg) ;
    background-repeat: no-repeat;
    background-position: 0 -80px;
    background-size: cover;
   
}