@font-face{
    font-family: vazir;
    src: url(./fonts/vazir-bold.eot) format("truetype")
    src: url(./fonts/vazir-bold.woff) format("truetype")
    src: url(./fonts/vazir-bold.woff2) format("truetype")
    src: url(./fonts/vazir-bold.ttf) format("truetype")
}
 
 
 header{
    background:yellow
}
/*
p{
    color:red
}

.text{
    color: red;
}

#FIRST{
    background-color: yellow;
}
*/

.color-red{
    color: red;
}

.color-red{
    font-weight: bold;
}

.color-blue{
    color: blue;
}
/*
#first.bold{
    font-weight: bold;
}

div.background-yellow{
    font-weight: bold;
}

#first.text{
    font-weight: 900;
}
*/

/*
header .color-red{
    font-weight: 100;
}*/

/*
#first .my-text .color-red{
    font-weight: bold;
}*/
/*
header .color-red{
    font-weight: bold;
}

header .color-blue{
    font-weight: 200;
}*/
/*
a[href]{
    color: pink;
}
*/
a[href="https://example.org"]{
    color: purple;
}

a[href*=example] {
color: chartreuse;
}

a[href$=org]{
    color: yellow;
    background-color: black;
}
/*
li[class="item"] a{
    color: green;
}*/
/*
li > span{
    background-color: brown;
}

li + span{
    background-color: yellow
}

li.item ~ span{
    background-color: rgb(58, 18, 110);
}
*/

li:hover{
    background-color: rgb(187, 255, 0);
}

li:hover a{
    color: darkgreen;
}

ul li:first-child a {
    color: violet;    
}

li::before{
    content: "listitem";
    color: rgba(224, 26, 165, 0.637);
}

li::after {
    content: "after";
    color: red;
}

p::first-letter{
    font-weight: bold;
}


p::first-line{
    font-weight: bold;
}


p{
    font-weight: 300;
    /*
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    تمام این 4 تا در یک چیز خلاصه میشود 
    */
    padding: 30px  30px 30px 30px;

    color: blue;
    padding-top: 180px;
    text-align: center;
    margin-bottom:30px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 30px;
   /* border-width: 4px;
    border-style: solid;
    border-color: black;*/
    border: 4px  solid  black;
   /* برای اندازهی فونت */
    width: 1300px;
    height: 200px;
}

li{
    padding-bottom: 10px;
}

 .header{
    width: 100%;
    background-image:url( ./image.css.jpg) ;
    height:600px;
     background-size:  1550px 900px;
     background-size: cover;
    background-repeat: no-repeat;
    background-position: 1px;
    border: 5px dashed chartreuse;
    box-sizing: border-box;
    background-origin: border-box;
   /* background-clip: padding-box;*/
   /* background-attachment: fixed;*/
}

div.color-red{
    color: red;
    background-color: royalblue;
}

.text{
    text-align: center;
}

 .first-child{
    color:rgb(85, 59, 59);
}

.item{
   /* background-image: url(./image2\ \(1\).jpg);
    background-color: black;*/
    width: 1550px;
    height: 300px; 
    /*background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;*/
    box-sizing: border-box;
    border: 5px dashed rgb(183, 223, 91);
    /*background-position:0 -200px;*/
    background: linear-gradient(rgb(179, 255, 0), rgb(255, 102, 0) );
}

div>ul>li{
    text-align: center;
}

.date{
    background: linear-gradient( 236deg,rgb(228, 16, 16) 50%, rgb(209, 86, 107) 50%);
} 

.dated{
    background: linear-gradient(150deg, red 50%,black 50%)
}

.closed{
    background: linear-gradient(236deg,blue 50%,rgb(95, 171, 243)50%);
}

.game{
    background: linear-gradient(rgba(255, 0, 0, 0.493),black);
}

.hello{
    background: linear-gradient(rgb(164, 241, 9), rgb(8, 3, 3 , .6 ))
}

.big{
    background: linear-gradient(rgb(21, 94, 21), rgb(17, 5, 5 , .8) );
}

.ops:hover{
    background: linear-gradient( 236deg,black 60%,yellow 40%);
    
}

.kill:hover{
   color: rgb(102, 255, 0);
}

.hi{
    background: linear-gradient(236deg,black 30%,blue 70%)
}

.fun:hover{
    background: linear-gradient(236deg,rgb(231, 142, 142) 30%,rgb(243, 243, 91) 70%)
}

.dad:hover{
    background-color: rgb(48, 230, 93);
    font-weight: bold;
    font-family: fantasy;
}

.man{
    background-image: url(./image.gpj1.jpg);
    background-position: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    border: 5px dashed red; 
    filter: blur(6px);
    /*  برای تاریک کردن تصویر   filter: brightness(50%);*/  
    filter: drop-shadow(9px 9px 9px rgb(5, 11, 85));
    font-family: cursive;
}
 
.man:hover{
    filter: blur(0px);
}


li{
    text-align: center;
}

.dif:hover{
    filter: contrast(195%);
    background-image: url(./image.gpj1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 5px;
    width:800px;
    height: 700px;
    font-family: cursive;
}

.kif:hover{
    background-color: black;
    background-position: 5px; 
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    background-image: url(./image2\ \(1\).jpg);
    filter: blur(1px ) contrast(200%) drop-shadow(100px 100px 100px   rgb(96, 235, 228));
    font-family: unset;
}

.erfan{
    font-family: fantasy;
    background-color: deeppink;
}

.j{
    color: darkseagreen;
    background-color: darkslategrey;
    width: 900px;
    height: 200px;
}

.kl:hover{
    color: rgb(48, 230, 93);
    background-color: rgb(5, 11, 85);
    font-family: vazir;
}

.lo{
    background-color: black;
    font-family: vazir;
}

.a{
    background-color: black;
    color: blue;
    font-family: vazir;
} 

.v3{
    background-color: rgb(36, 0, 70);
    background-image: url(./image2\ \(3\).jpg);
    font: bold italic "vazir";
    line-height: 1.8;
    background-repeat: no-repeat;
    width: 100x;
    background-size: cover;
    background-position: 0 -200px;
    text-decoration:  line-through  red ;
    text-shadow: 1px 2px 0 rgb(231, 230, 230);
    text-align: justify;
   /*  white-space:pre-line ;*/
     /* برای ایحاد فاصلع */word-spacing: 23px;
       /*     برای ایجاد فاصله بین حروف   */ letter-spacing: 2px;
         /*   برای این که تمامی متن در چند خط مرتب قرار بگیرد*/   word-break: break-all;
}

.s{
    background-color: rgb(30, 240, 135);
    word-break:break-all ;
    letter-spacing: 9px;
    margin-bottom: 90px;
    padding-top: 40px;
    padding-bottom: 70px;
    width: 1000px;
    height: 70px;
}

.box{
    background-color: red;
    width: 850px;
    height: 500px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 300px;
    margin-right: 150px;
    padding-left: 10px;
    padding-top: 100px;
    padding-bottom: 140px;
    padding-right: 200px;
    box-align: center;
}
  
.box2{
    background-color: yellow;
    width: 550px;
    height: 350px;
    box-align: center;
    margin-top: -9px;
    margin-bottom: 100px;
    margin-left: 145px;
    margin-right: 145px;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
}


.box4{
    background-color: orangered;
    width: 450px;
    height: 300px;
    text-align: center;
    box-align: center;
   /* margin-top: 100px;
    margin-bottom: -550px;
    margin-left: -550px;
    margin-right: 200px;*/
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-top: -550px;
    margin-left: 260px;
}

.e{
    font-size: 100px;
}

.w{
   background-color: black;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    margin-top: 100px;
    padding-left:1px ;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
}

.q{
    background-image: url(./img/icons8-big-ben-80.png )  ;
    background-repeat: no-repeat;
    background-origin: border-box;
    width: 80px;
    height: 10px;
}

.pk{
    background-image: url(./img/icons8-xlarge-icons-100.png) ;
    background-repeat: no-repeat;
    width: 40px;
    background-position: -5px -5px;
    padding-bottom: -30px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 60px;
    background-size: 100px 100px; 
    background-color: darkmagenta;
}

.j{
    width:80px;
    height: 40px;
}

.z{
    width: 80px;
    height:40px;
}

.v{
    width: 80px;
    height: 40px;
}

.vi{
    width: 80px;
    height: 40px;
}

.vp{
    width: 80px;
    height: 40px;
}

.vip{
    width: 80px;
    height: 40px;
}

.li{
    background-color: rgb(230, 153, 53);
    font-size: 2em;
}

.dir{
    width: 80px;
    height: 40px;
}