 header{
    background:yellow
}
/*
p{
    color:red
}

.text{
    color: red;
}

#FIRST{
    background-color: yellow;
}
*/

.color-red{
    color: red;
}

.color-red{
    font-weight: bold;
}

.color-blue{
    color: blue;
}
/*
#first.bold{
    font-weight: bold;
}

div.background-yellow{
    font-weight: bold;
}

#first.text{
    font-weight: 900;
}
*/

/*
header .color-red{
    font-weight: 100;
}*/

/*
#first .my-text .color-red{
    font-weight: bold;
}*/
/*
header .color-red{
    font-weight: bold;
}

header .color-blue{
    font-weight: 200;
}*/
/*
a[href]{
    color: pink;
}
*/
a[href="https://example.org"]{
    color: purple;
}

a[href*=example] {
color: chartreuse;
}

a[href$=org]{
    color: yellow;
    background-color: black;
}
/*
li[class="item"] a{
    color: green;
}*/
/*
li > span{
    background-color: brown;
}

li + span{
    background-color: yellow
}

li.item ~ span{
    background-color: rgb(58, 18, 110);
}
*/

li:hover{
    background-color: yellow;
    
}

li:hover a{
    color: darkgreen;
}

ul li:first-child a {
    color: violet;
    
}

li::before{
    content: "listitem";
    color: rgba(224, 26, 165, 0.637);
}

li::after {
    content: "after";
    color: red;
}

p::first-letter{
    font-weight: bold;
}


p::first-line{
    font-weight: bold;
}


p{
    font-weight: 300;
    /*
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    تمام این 4 تا در یک چیز خلاصه میشود 
    */
    padding: 30px  30px 30px 30px;


    color: blue;

    
    margin-bottom:30px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 30px;
   /* border-width: 4px;
    border-style: solid;
    border-color: black;*/

    border: 4px  solid  black;
   /* برای اندازهی فونت */
    width: 400px;
    height: 200px;
}

li{
    padding-bottom: 10px;
}

 .header{
    width: 100%;
    background-image:url( ./image.css.jpg) ;
    height:600px;
     background-size:  1550px 900px;
     background-size: cover;
    background-repeat: no-repeat;
    background-position: 1px;
    
}




