header{
    background:yellow
}
/*
p{
    color:red
}

.text{
    color: red;
}

#FIRST{
    background-color: yellow;
}
*/

.color-red{
    color: red;
}

.color-red{
    font-weight: bold;
}

#first.bold{
    font-weight: bold;
}