header{
    background:yellow
}
/*
p{
    color:red
}

.text{
    color: red;
}

#FIRST{
    background-color: yellow;
}
*/

.color-red{
    color: red;
}

.color-red{
    font-weight: bold;
}

.color-blue{
    color: blue;
}
/*
#first.bold{
    font-weight: bold;
}

div.background-yellow{
    font-weight: bold;
}

#first.text{
    font-weight: 900;
}
*/

/*
header .color-red{
    font-weight: 100;
}*/

/*
#first .my-text .color-red{
    font-weight: bold;
}*/
/*
header .color-red{
    font-weight: bold;
}

header .color-blue{
    font-weight: 200;
}*/

a[href]{
    color: pink;
}

a[href="https://example.org"]{
    color: purple;
}

