.a{
    /*width: 50%;
    margin-right: 1rem;*/
  width: 114%;
    height: 300px;
    margin-top: 6rem;
     /*margin-top: 5rem;
    margin-left: 13rem;*/
}

.b{
  /*width: 50%;
  margin-right: 1rem ;*/
   width: 115%;
    height: 400px;
    margin-top: 6rem;
      /*margin-top: 5rem;
    margin-left: 13rem;*/
}

.c{
   /* width: 50%;*/
    margin-bottom: 6rem;
    width: 114%;
    height: 400px;
    /*margin-top: 5rem;
    margin-left: 13rem;*/
}

.d{
     /*margin-top: 5rem;
    margin-left: 13rem;*/
    margin-bottom: 6rem;
    width: 114%;
    height: 400px;
    /*filter: blur(1.2px);*/
}

.e{
     /* width: 50%;*/
    margin-bottom: 6rem;
    width: 114%;
    height: 400px;
       /*margin-top: 5rem;
    margin-left: 13rem;*/
    /*filter:drop-shadow(6.5px 6.5px 6.5px rgb(0, 0, 0))*/
}

.f{
    margin-bottom: 6rem;
    width: 114%;
    height: 400px;
       /*margin-top: 5rem;
    margin-left: 13rem;
    width:50%*/
    /*filter:drop-shadow(6.5px 6.5px 6.5px rgb(0, 0, 0))*/
}

 @media (min-width: 768px) {
 .a {
     width: 50%;
     margin-right: 1rem;
     background-color: rgb(57, 236, 81);
   margin-top: 5rem;
    margin-left: 14rem;
}

 .b {
      width: 50%; 
      margin-right: 1rem;
      background-color: rgb(22, 24, 20);
         margin-top: 5rem;
    margin-left: 14rem;
 }

  .df{
        width:50% ;
        height: 1300px;
        margin-right: 1rem;
       
  }

  .w{

     width: 120px;
     height: 100px;
     
  }

  .c{
       margin-top: 5rem;
    margin-left: 14rem;
   width: 50%;
  }

  .d{
       filter: blur(1.2px);
       margin-top: 5rem;
    margin-left: 14rem;
   width: 50%;
  }

  .e{
    filter:drop-shadow(6.5px 6.5px 6.5px rgb(0, 0, 0));
      width: 50%;
   margin-top: 5rem;
    margin-left: 14rem;
   
  }

  .f{
    filter:drop-shadow(6.5px 6.5px 6.5px rgb(0, 0, 0));
      width: 50%;
   margin-top: 5rem;
    margin-left: 14rem;
    
  }
}

.df{
      background-color: blueviolet;
  /* width:50% ;
    height: 130px;
    margin-right: 1rem;*/
      width: 102%;
      height: 4rem;
      font-style:italic;
    /*font-size: 120px;*/
    /*filter: grayscale(18px yellow);*/
}

.w{
    background-color: rgb(77, 39, 39);
    /*width: 120px;
    height: 100px;*/
    width: 114%;
    height: 120px;
    
   
}

.df{
    margin-bottom: 60px;
    padding: 1.3rem;
    margin-right: 1rem;
}

.aaa{
  width: 1560px;
  height: 450px;
  background-image: url(./img/فلافل.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  font-size: 85px;
  background-position: -0px -90px;
}

